In [1]:
import os, sys
from dotenv import load_dotenv

In [2]:
rpath = os.path.abspath('/home/user/Documents/10/w8/logistic_optimization')

if rpath not in sys.path:
    sys.path.insert(0, rpath)

In [3]:
import utils.utils as util
import scripts.eda as eda

# Completed orders table

In [7]:
path = rpath + "/data/nb.csv"
order = util.load_data(path)

Data loaded successfully.

In [8]:
order

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time
0,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37
1,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28
2,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23
3,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36
...,...,...,...,...,...
536015,1637696,"6.448218499999999,3.4772075","6.437787399999999,3.481670199999999",2021-12-30 20:35:06,2021-12-30 21:02:59
536016,1637702,"6.442320899999999,3.4736868","6.436589333407897,3.5559738188407835",2021-12-30 20:48:13,2021-12-30 21:43:49
536017,1637704,"6.4281982,3.492248","6.448088500000001,3.4775747",2021-12-30 20:51:45,2021-12-30 21:41:32
536018,1637705,"6.5869296,3.3632966","6.637906899999999,3.3339515",2021-12-30 20:48:50,2021-12-30 21:08:28
536019,1637709,"6.647209999999999,3.4851489","6.454915198823159,3.555839938365194",2021-12-30 20:55:38,2021-12-30 22:25:00

In [9]:
order.describe()

            Trip ID
count  5.360200e+05
mean   9.910221e+05
std    3.456364e+05
min    3.919960e+05
25%    6.935610e+05
50%    9.910085e+05
75%    1.281570e+06
max    1.637709e+06

In [10]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536020 entries, 0 to 536019
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Trip ID           536020 non-null  int64
 1   Trip Origin       536020 non-null  object
 2   Trip Destination  536020 non-null  object
 3   Trip Start Time   534369 non-null  object
 4   Trip End Time     536019 non-null  object
dtypes: int64(1), object(4)
memory usage: 20.4+ MB

In [12]:
order.isnull().sum()

Trip ID                0
Trip Origin            0
Trip Destination       0
Trip Start Time     1651
Trip End Time          1
dtype: int64

In [13]:
order.value_counts()

Trip ID  Trip Origin                           Trip Destination                     Trip Start Time      Trip End Time
391996   6.508813001668548,3.37740316890347    6.650969799999999,3.3450307          2021-07-01 07:28:04  2021-07-01 07:29:37    1
1178247  6.631685399999999,3.3312684           6.5737409,3.4001891                  2021-11-02 15:45:12  2021-11-02 16:19:47    1
1178239  6.552586900000001,3.3260196           6.4510277,3.4388756                  2021-11-02 15:36:53  2021-11-02 16:52:55    1
1178237  6.456547302994947,3.5303088833123866  6.4353832,3.4648662                  2021-11-02 15:10:39  2021-11-02 15:55:10    1
1178230  6.668492400000001,3.2868065           6.618321099999999,3.3100485          2021-11-02 15:45:10  2021-11-02 17:20:15    1
                                                                                                                               ..
788569   6.436372599999999,3.4710931           6.619003400000001,3.3771492          2021-09-02 14:35:20  2021-09-02 15:25:33    1
788563   6.4865588,3.5844884                   6.4364471,3.4639738                  2021-09-02 14:39:34  2021-09-02 14:44:28    1
788561   6.504304599999999,3.3080365           6.5900859,3.331979399999999          2021-09-02 14:25:02  2021-09-02 15:12:16    1
788560   6.5885994,3.3619653                   6.582149900000001,3.3355993          2021-09-02 15:06:20  2021-09-02 15:26:30    1
1637709  6.647209999999999,3.4851489           6.454915198823159,3.555839938365194  2021-12-30 20:55:38  2021-12-30 22:25:00    1
Name: count, Length: 534368, dtype: int64

In [14]:
exp = eda.ExploratoryDataAnalysis(order)

In [15]:
outliers = exp.detect_outliers("iqr")
outliers

An error occurred during outlier detection: unsupported operand type(s) for -: 'str' and 'str'

        Trip ID  Trip Origin  Trip Destination  Trip Start Time  Trip End Time
0         False        False             False            False          False
1         False        False             False            False          False
2         False        False             False            False          False
3         False        False             False            False          False
4         False        False             False            False          False
...         ...          ...               ...              ...            ...
536015    False        False             False            False          False
536016    False        False             False            False          False
536017    False        False             False            False          False
536018    False        False             False            False          False
536019    False        False             False            False          False

[536020 rows x 5 columns]

In [22]:
data = exp.treat_outliers(outliers)
data

Treating outliers by removal.

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time
0,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37
1,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28
2,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23
3,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36
...,...,...,...,...,...
536015,1637696,"6.448218499999999,3.4772075","6.437787399999999,3.481670199999999",2021-12-30 20:35:06,2021-12-30 21:02:59
536016,1637702,"6.442320899999999,3.4736868","6.436589333407897,3.5559738188407835",2021-12-30 20:48:13,2021-12-30 21:43:49
536017,1637704,"6.4281982,3.492248","6.448088500000001,3.4775747",2021-12-30 20:51:45,2021-12-30 21:41:32
536018,1637705,"6.5869296,3.3632966","6.637906899999999,3.3339515",2021-12-30 20:48:50,2021-12-30 21:08:28
536019,1637709,"6.647209999999999,3.4851489","6.454915198823159,3.555839938365194",2021-12-30 20:55:38,2021-12-30 22:25:00

In [16]:
exp.value_counts_summary("Trip Origin").head(20)

                    Trip Origin  count
0            6.6137933,3.357997    888
1              6.462727,3.55679    668
2           6.4293597,3.4334968    576
3           6.4286308,3.5155123    544
4           6.4431192,3.4814372    543
5           6.4440858,3.5080498    538
6    6.622069799999999,3.383825    538
7           6.5952581,3.3521434    522
8    6.452345299999999,3.527539    520
9   6.4372969,3.460993199999999    514
10            6.497595,3.383098    512
11          6.4264002,3.4254308    503
12          6.4239727,3.4892523    499
13           6.4358466,3.451396    473
14     6.430837599999999,3.4124    472
15          6.4435353,3.4586585    469
16  6.628178999999999,3.2849272    450
17  7.438786400000001,3.9087722    447
18          6.5365443,3.3678252    441
19  6.591750800000001,3.3610172    433

In [18]:
exp.value_counts_summary("Trip Origin").head(20)

                    Trip Origin  count
0            6.6137933,3.357997    888
1              6.462727,3.55679    668
2           6.4293597,3.4334968    576
3           6.4286308,3.5155123    544
4           6.4431192,3.4814372    543
5           6.4440858,3.5080498    538
6    6.622069799999999,3.383825    538
7           6.5952581,3.3521434    522
8    6.452345299999999,3.527539    520
9   6.4372969,3.460993199999999    514
10            6.497595,3.383098    512
11          6.4264002,3.4254308    503
12          6.4239727,3.4892523    499
13           6.4358466,3.451396    473
14     6.430837599999999,3.4124    472
15          6.4435353,3.4586585    469
16  6.628178999999999,3.2849272    450
17  7.438786400000001,3.9087722    447
18          6.5365443,3.3678252    441
19  6.591750800000001,3.3610172    433

In [44]:
 def value_counts_summary(df, column1, column2, display_columns=None):
           
            # Check if both columns exist in the DataFrame
            if column1 not in df.columns or column2 not in df.columns:
                print(f"One or both columns '{column1}' and '{column2}' do not exist in the DataFrame.")
                return None
            
            # Calculate the value counts for the combination of the two columns
            value_counts = df.groupby([column1, column2]).size().reset_index(name='count')
            
            if display_columns:
                if not all(col in df.columns for col in display_columns):
                    print("One or more display_columns do not exist in the DataFrame.")
                    return None
                # Merge the display columns if specified
                display_df = df[display_columns].drop_duplicates()
                value_counts = value_counts.merge(display_df, left_on=[column1, column2], right_on=display_columns, how='left')
            
            return value_counts

In [24]:
exp.value_counts_summary(data,"Trip Origin","Trip Destination")

AttributeError: 'ExploratoryDataAnalysis' object has no attribute 'value_counts_summary_two_col'

# delivery requests by clients (completed and unfulfilled)

In [15]:
path = rpath + "/data/driver_locations_during_request.csv"
data1 = util.load_data(path)

Data loaded successfully.

In [17]:
data1

,id,order_id,driver_id,driver_action,lat,lng,created_at,updated_at
0,1,392001,243828,accepted,6.602207,3.270465,NaN,NaN
1,2,392001,243588,rejected,6.592097,3.287445,NaN,NaN
2,3,392001,243830,rejected,6.596133,3.281784,NaN,NaN
3,4,392001,243539,rejected,6.596142,3.280526,NaN,NaN
4,5,392001,171653,rejected,6.609232,3.288800,NaN,NaN
...,...,...,...,...,...,...,...,...
1557735,1557736,517948,243774,rejected,6.469036,3.566877,NaN,NaN
1557736,1557737,517948,245447,rejected,6.425431,3.527358,NaN,NaN
1557737,1557738,517948,239866,rejected,6.440013,3.525378,NaN,NaN
1557738,1557739,517948,243774,rejected,6.469036,3.566877,NaN,NaN
1557739,1557740,517948,244170,rejected,6.469390,3.572079,NaN,NaN

In [19]:
data1.describe()

,id,order_id,driver_id,lat,lng,created_at,updated_at
count,1.557740e+06,1.557740e+06,1.557740e+06,1.557740e+06,1.557740e+06,0.0,0.0
mean,7.788705e+05,4.191833e+05,2.341505e+05,6.536031e+00,3.378877e+00,NaN,NaN
std,4.496809e+05,1.444531e+04,2.270475e+04,5.998150e-02,5.333432e-02,NaN,NaN
min,1.000000e+00,3.920010e+05,1.219810e+05,6.409333e+00,3.076561e+00,NaN,NaN
25%,3.894358e+05,4.067650e+05,2.429970e+05,6.498694e+00,3.348810e+00,NaN,NaN
50%,7.788705e+05,4.216870e+05,2.435890e+05,6.544247e+00,3.363504e+00,NaN,NaN
75%,1.168305e+06,4.293130e+05,2.440560e+05,6.593276e+00,3.385177e+00,NaN,NaN
max,1.557740e+06,5.179480e+05,2.478770e+05,7.702536e+00,8.515414e+00,NaN,NaN

In [21]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1557740 entries, 0 to 1557739
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   id             1557740 non-null  int64
 1   order_id       1557740 non-null  int64
 2   driver_id      1557740 non-null  int64
 3   driver_action  1557740 non-null  object
 4   lat            1557740 non-null  float64
 5   lng            1557740 non-null  float64
 6   created_at     0 non-null        float64
 7   updated_at     0 non-null        float64
dtypes: float64(4), int64(3), object(1)
memory usage: 95.1+ MB